.footer {
	background-color: $bg2-light;
	padding: 40px 0px 50px 0px;
	transition: background-color 0.3s ease;
	&.dark-mode {
		background-color: $bg2-dark;
	}
	&__contacts {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__rights {
		margin-bottom: 10px;
		letter-spacing: 1px;
		color: $lightMode-text;
		@media (max-width: 480px) {
			font-size: 0.9rem;
		}
	}
	&__rights.dark-mode {
		color: $darkMode-text;
	}

	&__mail {
		font-size: 1.3rem;
		color: white;
		text-decoration: underline;
		color: $lightMode-text;
		@media (max-width: 480px) {
			font-size: 1.1rem;
		}
	}
	&__mail.dark-mode {
		color: $darkMode-text;
	}
	.dark-mode {
		color: white;
	}
	.light-mode {
		color: black;
	}
}
