.header {
	background-color: $bg2-light;
	padding: 20px 0px 30px 0px;
	transition: background-color 0.3s ease;
	&.dark-mode {
		background-color: $bg2-dark;
	}
	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 4px;
		@media (max-width: 767px) {
			margin-bottom: 20px;
		}
	}
	&__logo {
		display: flex;
		align-items: center;
	}

	&__title {
		font-family: "Supermercado One";
		font-size: 1.9rem;
		margin-left: 12px;
		color: $lightMode-text;
		@media (max-width: 480px) {
			font-size: 1.6rem;
			margin-left: 6px;
		}
	}
	&__title.dark-mode {
		color: white;
	}

	&__menu {
		display: flex;
		align-items: center;
	}

	&__categories-menu {
		margin-right: 20px;
		display: flex;
		align-items: center;
		cursor: pointer;
		@media (max-width: 480px) {
			margin-right: 10px;
		}
		.arrow {
			width: 0;
			height: 0;
			margin-top: 4px;
			border-top: 6px solid transparent;
			border-bottom: 6px solid transparent;
			border-radius: 2px;
			transition: transform 0.3s ease;
			transform: rotateZ(270deg);
			border-right: 8px solid $lightMode-text;
		}
		.arrow.dark-mode {
			border-right: 8px solid $darkMode-text;
		}
		.active {
			transform: rotate(90deg);
		}
	}
	&__genre {
		margin: 6px 6px 0px 0px;
		font-size: 1.1rem;
		letter-spacing: 0.7px;
		color: $lightMode-text;
		@media (max-width: 480px) {
			font-size: 0.9rem;
			margin: 6px 4px 0px 0px;
		}
	}
	&__genre.dark-mode {
		color: $darkMode-text;
	}
	&__color-theme img {
		transition: all 0.3s ease;
	}
	&__categories-wrapper {
		position: absolute;
		background-color: $bg2-light;
		width: 100%;
		z-index: 4;
		border-radius: 2px;
		padding: 20px 20px;
		top: 66px;
		left: 0;
		transition: background-color 0.3s ease, opacity 0.4s ease-out;
		&.dark-mode {
			background-color: $bg2-dark;
		}
	}
	&__categories {
		max-width: 1050px;
		margin: 0 auto;
		display: grid;
		justify-items: center;
		row-gap: 10px;
		grid-template: auto / repeat(auto-fit, minmax(120px, 1fr));
		transition: opacity 0.4s ease-out;
	}
	&__category {
		font-size: 1.2rem;
		color: $lightMode-text;
		padding: 4px 0px;
		&:hover {
			text-decoration: underline;
		}
	}
	&__category.dark-mode {
		color: $darkMode-text;
	}

	&__search {
		display: flex;
		align-items: center;
		position: relative;
		max-width: 600px;
		margin: 0 auto;
	}

	&__input {
		width: 100%;
		background-color: rgba(255, 255, 255, 0.3);
		border-radius: 4px;
		box-shadow: 2px 12px 20px rgba(255, 255, 255, 0.1);
		padding: 4px 36px 4px 10px;
		letter-spacing: 1px;
		font-size: 1.1rem;
		color: $lightMode-text;
		&.dark-mode {
			color: $darkMode-text;
		}
		&::placeholder {
			color: $lightMode-text;
		}
	}
	&__input.dark-mode::placeholder {
		color: $darkMode-text;
	}

	&__button {
		position: absolute;
		right: 10px;
	}
}
