.movies {
	background-color: $bg1-light;
	color: $lightMode-text;
	padding: 60px 0px 40px 0px;
	transition: background-color 0.3s ease;
	min-height: 100vh;
	&.dark-mode {
		color: $darkMode-text;
		background-color: $bg1-dark;
	}
	&__items {
		row-gap: 30px;
		column-gap: 20px;
		display: grid;
		justify-items: center;
		grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	}

	&__item {
		position: relative;
	}

	&__poster {
		position: relative;
		width: 240px;
		height: 330px;
	}

	&__image {
		position: absolute;
		z-index: 3;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 10px;
		border: 3px solid rgba(255, 255, 255, 0.07);
	}

	&__title {
		padding: 6px 2px;
		width: 240px;
	}

	&__genres {
		display: flex;
		flex-wrap: wrap;
		padding: 0px 2px;
		max-width: 240px;
	}

	&__genre {
		line-height: 18px;
		&:not(:last-child) {
			margin-right: 10px;
		}
	}

	&__rating {
		position: absolute;
		z-index: 3;
		top: 10px;
		left: 10px;
		width: 34px;
		text-align: center;
		border-radius: 4px;
		padding: 6px;
		color: white;
		border: 1px solid white;
	}

	.red {
		background-color: #cc0000;
	}
	.yellow {
		background-color: #ff6600;
	}
	.green {
		background-color: #339900;
	}
	.null {
		display: none;
	}
	.scroll-arrow {
		position: fixed;
		right: 56px;
		bottom: 60px;
		transition: opacity 0.4s ease;
		transform: scale(1);
		@media (max-width: 480px) {
			right: 46px;
			bottom: 50px;
		}
		img {
			position: absolute;
			transform: rotate(-90deg);
			transition: opacity 0.4s ease;
		}
	}
	.spinner {
		width: 100px;
	}
}
