.is-hidden {
	display: none;
}
.visually-hidden {
	position: absolute;
	pointer-events: none;
	opacity: 0;
}
.container {
	max-width: 1050px;
	padding: 0px 15px;
	margin: 0 auto;
}
.scroll-hidden {
	overflow: hidden;
}
.svg-16px {
	width: 16px;
	height: 16px;
	cursor: pointer;
}
.svg-24px {
	width: 24px;
	height: 24px;
	cursor: pointer;
}
.svg-32px {
	width: 32px;
	height: 32px;
	cursor: pointer;
}
.svg-46px {
	width: 46px;
	height: 46px;
}
