.is-hidden {
	display: none;
}
.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	visibility: hidden;
	pointer-events: none;
	opacity: 0;
}
.svg-16px {
	width: 16px;
	height: 16px;
	cursor: pointer;
}
.svg-24px {
	width: 24px;
	height: 24px;
	cursor: pointer;
}
.svg-32px {
	width: 32px;
	height: 32px;
	cursor: pointer;
}
.svg-46px {
	width: 46px;
	height: 46px;
}
