<header class="header dark-mode">
	<div class="header__container container">
		<div class="header__wrapper">
			<a href="https://gnatuk2312.github.io/Palens-MovieHouse" class="header__logo">
				<img src="./images/svg/logo.png" class="svg-46px" alt="Логотип">
				<h1 class="header__title dark-mode">MovieHouse</h1>
			</a>
			<div class="header__menu">
				<div class="header__categories-menu">
					<span class="header__genre dark-mode">Жанри</span>
					<span class="arrow dark-mode"></span>
				</div>
				<div class="header__color-theme is-dark">
					<img src="./images/svg/dark-mode.png" class="svg-24px is-hidden" alt="svg">
					<img src="./images/svg/light-mode.png" class="svg-24px" alt="svg">
				</div>
			</div>
		</div>
		<div class="header__categories-wrapper visually-hidden dark-mode">
			<ul class="header__categories">
			</ul>
		</div>
		<form action="#" class="header__search">
			<input type="text" name="search" id="search" placeholder="Пошук" class="header__input dark-mode">
			<button class="header__button">
				<img src="./images/svg/search-dark-mode.png" class="svg-16px " alt="svg">
				<img src="./images/svg/search-light-mode.png" class="svg-16px visually-hidden" alt="svg">
			</button>
		</form>
	</div>
</header>