<header class="header">
	<div class="header__container">
		<div class="header__wrapper">
			<div class="header__logo">
				<img src="./images/svg/logo.png" class="svg-46px" alt="Логотип">
				<h1 class="header__title dark-mode">MovieHouse</h1>
			</div>
			<div class="header__menu">
				<div class="header__categories-menu">
					<span class="header__genre">Жанри</span>
					<span class="arrow dark-mode"></span>
				</div>
				<div class="header__color-theme is-dark">
					<img src="./images/svg/dark-mode.png" class="svg-24px visually-hidden" alt="svg">
					<img src="./images/svg/light-mode.png" class="svg-24px" alt="svg">
				</div>
			</div>
		</div>
		<div class="header__categories-wrapper visually-hidden">
			<ul class="header__categories">
				<li><button class="header__category dark-mode">Категорія</button></li>
				<li><button class="header__category dark-mode">Категорія</button></li>
				<li><button class="header__category dark-mode">Катег</button></li>
				<li><button class="header__category dark-mode">Категорія</button></li>
				<li><button class="header__category dark-mode">Катfdgfdgdgfg</button></li>
				<li><button class="header__category dark-mode">Категорія</button></li>
				<li><button class="header__category dark-mode">Катрія</button></li>
				<li><button class="header__category dark-mode">Категорія</button></li>
				<li><button class="header__category dark-mode">Категорія</button></li>
				<li><button class="header__category dark-mode">Категорія</button></li>
			</ul>
		</div>
		<form action="#" class="header__search">
			<input type="text" name="search" id="search" placeholder="Пошук" class="header__input">
			<button class="header__button">
				<img src="./images/svg/search-dark-mode.png" class="dark-mode svg-16px " alt="svg">
				<img src="./images/svg/search-light-mode.png" class="light-mode svg-16px visually-hidden" alt="svg">
			</button>
		</form>
	</div>
</header>