<article class="modal dark-mode ">
	<div class="modal__body dark-mode">
		<div class="modal__info">
			<h2 class="modal__name">SPIDER-MAN: NO WAY HOME</h2>
			<div class="modal__poster">
				<img src="https://image.tmdb.org/t/p/w500/qBLEWvJNVsehJkEJqIigPsWyBse.jpg" alt="картинка"
					class="modal__poster-image">
			</div>
			<div class="modal__description">
				<div class="modal__original-title">
					Оригінальна назва:
					<h3 class="original-title">SPIDER-MAN: NO WAY HOME</h3>
				</div>
				<div class="modal__votes">
					Рейтинг / Голосів:
					<span class="vote red">8.4</span>
					<span class="votes">6355</span>
				</div>
				<div class="modal__popularity">
					Популярність:
					<span class="popularity">25863.083</span>
				</div>
				<div class="modal__overview">
					Опис
					<p class="overview">Peter Parker is unmasked and no longer able to separate his normal life from the
						high-stakes of being a super-hero. When he asks for help from Doctor Strange the stakes become even
						more dangerous, forcing him to discover what it truly means to be Spider-Man.</p>
				</div>
			</div>
		</div>
		<div class="modal__close">
			<img src="./images/svg/close-light-mode.png" class="svg-24px visually-hidden" alt="svg">
			<img src="./images/svg/close-dark-mode.png" class="svg-24px " alt="svg">
		</div>
	</div>
</article>