<section class="movies dark-mode">
	<div class="movies__container container">
		<div class="movies__items">
			<article class="movies__item">
				<div class="movies__poster">
					<img src="./images/sponge.jpg" alt="Картинка" class="movies__image">
				</div>
				<h3 class="movies__title">Sponge Bob</h3>
				<ul class="movies__genres">
					<li class="movies__genre">Мультфільм</li>
					<li class="movies__genre">Комедія</li>
					<li class="movies__genre">Пригоди</li>
				</ul>
				<div class="movies__rating green"><span>9.2</span></div>
			</article>
			<article class="movies__item">
				<div class="movies__poster">
					<img src="./images/car.jpeg" alt="Картинка" class="movies__image">
				</div>
				<h3 class="movies__title">Sponge Bob</h3>
				<ul class="movies__genres">
					<li class="movies__genre">Мультфільм</li>
					<li class="movies__genre">Комедія</li>
					<li class="movies__genre">Пригоди</li>
				</ul>
				<div class="movies__rating yellow"><span>9.2</span></div>
			</article>
			<article class="movies__item">
				<div class="movies__poster">
					<img src="./images/pool.jpg" alt="Картинка" class="movies__image">
				</div>
				<h3 class="movies__title">Sponge Boblorem Lorem ipsum dolor, sit amet consectetur adip </h3>
				<ul class="movies__genres">
					<li class="movies__genre">Мультфільм</li>
					<li class="movies__genre">Комедія</li>
					<li class="movies__genre">Пригоди</li>
				</ul>
				<div class="movies__rating green"><span>9.2</span></div>
			</article>
			<article class="movies__item">
				<div class="movies__poster">
					<img src="./images/car.jpeg" alt="Картинка" class="movies__image">
				</div>
				<h3 class="movies__title">Sponge Bob</h3>
				<ul class="movies__genres">
					<li class="movies__genre">Мультфільм</li>
					<li class="movies__genre">Комедія</li>
					<li class="movies__genre">Пригоди</li>
				</ul>
				<div class="movies__rating yellow"><span>9.2</span></div>
			</article>
			<article class="movies__item">
				<div class="movies__poster">
					<img src="./images/pool.jpg" alt="Картинка" class="movies__image">
				</div>
				<h3 class="movies__title">Sponge Bob</h3>
				<ul class="movies__genres">
					<li class="movies__genre">Мультфільм</li>
					<li class="movies__genre">Комедія</li>
					<li class="movies__genre">Пригоди</li>
				</ul>
				<div class="movies__rating red"><span>9.2</span></div>
			</article>
		</div>
	</div>
</section>